body{
    background-color: #f2f0fc;
}
div.main{
    width: 1000px;
    border-left: 1px solid #dedddd;
    border-right: 1px solid #dedddd;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
    text-align: center;
}
div{
    margin: auto; 
}
h2{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
    font-weight: 200;
}
hr{
    width: 900px;
}
a{
    margin-left: 20px;
}
p{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: gray;
}
li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: gray;
}
div .pic{
    padding-right: 40px;
    padding-left: 20px;
    float: left;
    width: 250px;
}
div .text{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 800px;
    text-align: justify;
}
div .block{
   clear: both;
}
div .background{
    width: 700px;
    text-align: justify;
    padding-right: 40px;
    padding-left: 300px;
    clear: both;
    background-image: url(./images/starwars.jpg);
    background-position: left;
    background-size: 200px;
    background-repeat: no-repeat;
    font-family: 'Open Sans Condensed', sans-serif;
}




